#**Python Datatypes**
> Numeric datatypes:

In [ ]:
num = 100
print("the datatype of variable 'num' is {}".format(type(num)))

the datatype of variable 'num' is <class 'int'>

In [ ]:
num = 100.101
print("the datatype of variable 'num' is {}".format(type(num)))

the datatype of variable 'num' is <class 'float'>

In [ ]:
num = 100 + 100j
print("the datatype of variable 'num' is {}".format(type(num)))

the datatype of variable 'num' is <class 'complex'>

>String datatypes:

In [60]:
str1 = "string in str1"
str2 = 'string in str2'
print(str1)
print(str2)

# using ',' to concatenate the two or several strings
print(str1,"concatenated with",str2)

#using '+' to concate the two or several strings
print(str1+" concated with "+str2)

#sliceing
print(str1[0:6])
print(str1[-1])

string in str1
string in str2
string in str1 concatenated with string in str2
string in str1 concated with string in str2
string
1

In [ ]:
speak = "   The night is darkest just before the dawn.   "

#strip
print("Strip string",speak.strip())

#count
print("Count of 'i' in string : ", speak.count('i'))

#find
print("the word 'night' is at position",speak.find('night'))

#replace
print(speak.replace('darkest','the darkest').strip())

#split
print(speak.split())

Strip string The night is darkest just before the dawn.
Count of 'i' in string :  2
the word 'night' is at position 7
The night is the darkest just before the dawn.
['The', 'night', 'is', 'darkest', 'just', 'before', 'the', 'dawn.']

> List datatypes:

In [ ]:
lst1 = [1,2,3,4,5]

lst2 =['hey', 'how', 'are', 'you']

lst3= [1,2,3,'i am', 'batman']

print('list containing only integers : ',lst1)
print('list containing only strings : ',lst2)
print('list containing both integers and string : ' ,lst3)

list containing only integers :  [1, 2, 3, 4, 5]
list containing only strings :  ['hey', 'how', 'are', 'you']
list containing both integers and string :  [1, 2, 3, 'i am', 'batman']

In [ ]:
#join two lists

new_lst = lst1 + lst2
print(new_lst)

[1, 2, 3, 4, 5, 'hey', 'how', 'are', 'you']

In [ ]:
# list comprehension
items = ["bike", "car", "plane", "boat", "rocket"]

new_list = [item for item in items if "rocket" in item]

print(new_list)

['rocket']

In [ ]:
# append 

items.append("house")
print(items)

#extends
new=['horse','dog','cat']

items.extend(new)
print(items)

['bike', 'car', 'plane', 'boat', 'rocket', 'house', 'house']
['bike', 'car', 'plane', 'boat', 'rocket', 'house', 'house', 'horse', 'dog', 'cat']

>Python Tuple:

In [61]:
tup1 = (1,2,3,4)
tup2 = ('hello', 12 ,34)
print(tup1, tup2)


#tuple is immutable
try:
  tup1[1]=22
except:
  print('tuple is immutable')


#indexing
print(tup1.index(2))

(1, 2, 3, 4) ('hello', 12, 34)
tuple is immutable
1

#Deleteing a variable

In [ ]:
num = 101
print('num = ', num)

# variable is deleted
del num
try :
  print(num)
except:
  print("variabale num is deleted")

num =  101
variabale num is deleted

#Zip

In [ ]:
# closure,zip, reduce filter, 

tup1 = ("John", "Charles", "Mike")
tup2 = ("Jenny", "Christy", "Monica")

tups = zip(tup1, tup2)

In [ ]:
for tup in tups:
  print(tup)

('John', 'Jenny')
('Charles', 'Christy')
('Mike', 'Monica')

**Type-checking can be done at two stages -**

>Static - Data Types are checked before execution.

>Dynamic - Data Types are checked during execution.

**Scope in python -**

A scope is a block of code where an object in Python remains relevant.

>A local scope refers to the local objects available in the current function.

>A global scope refers to the objects available throughout the code execution since their inception.

>A module-level scope refers to the global objects of the current module accessible in the program.

>An outermost scope refers to all the built-in names callable in the program. The objects in this scope are searched last to find the name referenced.

#Set and Frozen Set
>A set is an unordered and unindexed collection of unique elements. Sets are mutable, you can change the elements using a built-in function like add(), remove(), etc.

> {} or (), can't initaialize empty set wit {}, must be done using set().

Frozen Set:
>A frozenset is an unordered and unindexed collection of unique elements. It is immutable and it is hashable. It is also called an immutable set. Since the elements are fixed, unlike sets you can't add or remove elements from the set

In [ ]:
#set
fruits = {"Apple", "Banana", "Cherry", "Apple", "Kiwi"}

print('Unique elements:', fruits,'\n', type(fruits))

Unique elements: {'Banana', 'Cherry', 'Apple', 'Kiwi'}
 <class 'set'>

In [ ]:
if 'Apple' in fruits:
  print('Apple in fruits set')

Apple in fruits set

In [ ]:
fruits.add("Mango")
print('After adding element:', fruits)

After adding element: {'Banana', 'Kiwi', 'Cherry', 'Mango', 'Apple'}

In [ ]:
fruits.remove("Mango")
print('After removing element:', fruits)

After removing element: {'Banana', 'Kiwi', 'Cherry', 'Apple'}

In [ ]:
# frozen set

fruits = {"Apple", "Banana", "Cherry", "Apple", "Kiwi"}
basket = frozenset(fruits)

print('Unique elements:', fruits,'\n', type(fruits))

Unique elements: {'Banana', 'Cherry', 'Apple', 'Kiwi'}
 <class 'set'>

#Filter

In [ ]:

# both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
  
# odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)

print(list(result))

[1, 3, 5, 13]

#Boolean

In [43]:
type(True)

bool

In [62]:
type(False)

bool

In [64]:
number1 = 100
number2 = 200
result = 100 < 200
print(result)

True

#Math

In [45]:
#max
nums = [1,2,344,11,22,3,23]
max(nums)

344

In [46]:
#min
min(nums)

1

In [47]:
#sum
sum(nums)

406

In [50]:
#absolute
abs(-111)

111

In [51]:
#round
round(3.33)

3

In [53]:
#map
def addition(n):
    return n*n
  

numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[1, 4, 9, 16]

In [54]:
#sorted
sorted(nums)

[1, 2, 3, 11, 22, 23, 344]

#Type Conversion

In [67]:
num_string = '12'
num_integer = 23

print("Before Type Casting:",type(num_string))

Before Type Casting: <class 'str'>

In [68]:
num_string = int(num_string)

print("After Type Casting:",type(num_string))

After Type Casting: <class 'int'>

In [69]:
num_sum = num_integer + num_string

print("Sum:",num_sum)
print("Data type:",type(num_sum))

Sum: 35
Data type: <class 'int'>